@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
$primary-color: #2ab2af;
$secondary-color: #c0df34;
$neutral-color: #e5eff5;
$accent-color: #98a6bd;
$font-family: 'Karla', sans-serif;
$font-size: 1rem;
$font-weights: (
  "regular": 400,
  "bold": 700
)




